.tophead{
    text-align: center;
    background-color: rgb(240, 180, 241);
    padding-bottom: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    margin-top: 0px;
    text-align: center;
    font-size: 25px; 
    padding-top: 10px;
}
.image{ 
    height: 200px;
    width: 200px;
    margin-left: 43%;
    display: block;
    padding-top: 10px;
    border-radius: 200px;
}
.about{
    height: 300px;
    width: 305px;
    display: inline-block;
    background-color: rgb(107, 225, 225);
    border-color: rgb(1, 10, 14);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 2px;
}
.timeline{
    height: 300px;
    width: 305px;
    display: inline-block;
    background-color: lightgreen;
    vertical-align: top;border-width: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
   

}

.poems{
    height: 300px;
    width: 305px;
    display: inline-block;
    background-color: rgb(170, 217, 245);
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.legacy{
    margin-left: 0px;
    height: 300px;
    width: 305px;
    display: inline-block;
    background-color: lightyellow;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: rgb(220, 175, 214);
    padding-top: 10px;
    padding-bottom: 10px; 
}

